  .header {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #67C21B;
    color: #000;
  }

  .header li {
      padding: 0.5rem;
      border: 1px #eae9e9 solid;
      border-radius: 4px;
  }

  .header li:first-child {
    padding: 0.8rem;
    border: 1px #eae9e9 solid;
    border-radius: 4px;
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 10px;
}

  .header li a {
      color: #fff;
  }

  .header a:hover {
      color: rgb(255, 247, 35);
  }


@media (min-width: 780px) {

  .header {
    flex-direction: row;
    align-items: center;
    background-color: #67C21B;
    color: #000;
    height: 4rem;
    box-shadow: 0 0px 0px #eee, 0 1px 4px #d5d5d5;
  }

  .header li:first-child {
    margin-left: 6rem;
    margin-right: auto;
}

  .header li {
    margin-left: 1.5rem;
  }

  .header li:last-child {
    margin-right: 2rem;
  }
}