  .header {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: rgb(139, 228, 198);
    color: #4a4a4a;
  }

  .header li {
      padding: 0.5rem;
      border: 1px #eae9e9 solid;
      border-radius: 4px;
  }

  .header li:first-child {
    padding: 0.8rem;
    border: 1px #eae9e9 solid;
    border-radius: 4px;
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 10px;
}

  .header li a {
      color:rgb(110, 114, 113);
  }

  .header a:hover {
      background-color: rgb(110, 114, 113, 0.3);
  }