.dashboard-header h1 {
    text-align: center;
    margin: 2rem;
}

.dashboard-groups h3 {
    margin: 2rem 1rem 1rem;
}

.groups-table {
    display: flex;
    flex-direction: row;
    font-size: 12px;
    /* justify-content: center; */
    padding: 4px;
    /* margin-bottom: 3rem; */
}

.group-name li, .group-description li {
    padding: 4px;
}

.group {
    background-color: rgb(238, 234, 234);
    width: 300px;
    margin: 10px auto;
    height: 100px;
}

footer {
    position:relative;
    left:0px;
    bottom:0px;
    width:100%;
}


@media (min-width: 780px) {

    .groups {
        background-color: rgb(238, 235, 235);
        margin: 0;
        height: auto;
        border-radius: 3px;
    }
    .dashboard-columns {
        display:grid;
        grid-gap: 20px;
        grid-template-columns: 130px auto;
    }
    .dashboard-grid {
        max-width: 960px;
        margin: 20px;
    }

    .dashboard-groups {
        display: grid;
        grid-gap: 25px;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        grid-template-rows: 1fr;     
          
}
    .event {
        border: 1px solid;
        border-radius: 10px;
        height: 200px;
    }
    
    .buttonNew{
        padding: 10px;
        margin: 10px;
        width: 100px;
        margin: 20px;
        background-color: #67C21B;
        color: white;
        text-align: center; 
        border-radius: 10px;   
    }
/* 
    h3 {
        grid-row: 1;
        grid-column: 1;
        align-self: end;
    } */

    /* .groups-table {
        grid-column: 1;
        grid-row: 2 /3;
    } */
    
}


