@import url('./components/header/Header.css');
@import url('./components/homepage/Homepage.css');
@import url('./components/footer/Footer.css');
@import url('./components/UserDashboard/userDashboard.css');


* {
    margin: 0;
    padding: 0;
    /* outline: 1px dashed red; */
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    color: #4a4a4a;
  }

  .App {
      height: 100vh;
  }

  .wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.page-header {
    flex-shrink: 0;
}

.page-footer {
    flex-shrink: 0;
  
}

.main {
    flex-grow: 1;
}





  /* button{
    padding: 10px;
    margin: 10px;
    width: 100px;
    margin: 20px;
    background-color: #67C21B;
    color: white;
    text-align: center; 
    border-radius: 10px;   
}

input {
    padding: 12px;
    border: solid 2px grey;
    border-radius: 10px;
} */

/* hr {
    margin: 0.5em;
    border-width: 1px;
} */

/* .wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    background-color: red;
} */



