@import url('./components/header/Header.css');
@import url('./components/homepage/Homepage.css');


* {
    margin: 0;
    padding: 0;
    outline: 1px dashed red;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    color: #4a4a4a;
    background-color: #e9e9f1;
  }