.boxUserLogin {
    display: flex;
    flex-direction: column;
    margin: 30px;
    text-align: center;
   
    background-color: rgb(245, 245, 245);
    box-shadow: 0 15px 20px -8px rgba(0, 0, 0, 0.2);

}

.headerUserLogin {
    padding: 10px;
    font-size: 1rem;
    color: green;
    font-weight: bold;
}

.inputFieldsUserLogin {
    padding: 10px;
    margin: 10px 50px;

}

.buttonUserLogin{
    padding: 10px;
    margin: 10px;
    width: 50%;
    margin: 20px auto;
    background-color: #67C21B;
    color: white;
    text-align: center;    
}

.loginHelpLinks{
    display: flex;
    flex-direction: row;
    justify-content: space-around;  
}

.loginHelpLinks > a {
    padding: 10px;
    margin: 10px;
}

@media only screen and (min-width: 600px) {
    .boxUserLogin {
        margin: 100px;
    }
    .buttonUserLogin{        
        width: 20%;
        margin: 20px auto;         
    }
  }