
.UserForm {
    margin-left: 30px; 
}



.UserForm, .UserForm-form {
    display: flex;
    flex-direction: column;
    align-content: center;
   
}

.headerUserForm {
    padding: 10px;
    
}

.UserForm-input {
    padding: 6px;
    margin: 10px;
}

.buttonForm {
    padding: 8px 10px;
    width: 70px;
    
    text-align: center;
    font-weight: bold;
    background-color: green;


}