.homepage h1, .homepage p {
   padding: 1.5rem;
   text-align: center;
}

.homepage-img img {  
    width: 100%;
    padding: 1rem;
}

.fas {
    text-align: center;
    color: #67C21B;
    width: 100%;
    font-size: 4rem;
}

.homepage-ticklist {
    display: flex;
    flex-direction: column;
   align-items: center;
    text-align: center;
    background-color: #fff;
    
    
}

.homepage-ticklist li {
    padding: 1rem;
    margin: 0.5rem;
    font-weight: bold; 
    background-color:  #F2F2F2;
    width: 15rem;
    height: 15rem;
    position: relative;
    box-shadow: 0 0px 0px #eee, 0 1px 4px #d5d5d5;
}


li i.far.fa-check-circle {
    position: absolute;
    top: 19px;
    left: 37px;
    font-size: 40px;
    color: green;
}

li i.far.fa-check-circle:nth-child(2) {
    position: absolute;
    top: 40px;
    left: 37px;
    font-size: 30px;
    color: #67C21B;
}

#one, #two, #three {
    display: none;
    top: 91px;
    left: -46px;
}

@media (min-width: 780px) {

    .box {
        margin: 1rem;
    }
    .homepage-img {
        max-width: 30%;
    }
    .img-section {
        display: flex;
        justify-content: center;
        align-items: center
    }

    #one, #two, #three {
        display: block;
    }

    .homepage-ticklist {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        text-align: center;
    }

    .fas {
        transform: rotate(-90deg);
    }
  }