.Homepage {
    display: flex;
    flex-direction: column;
}

.Homepage-section {
    margin: auto;
    text-align: center;
    background-color: 0 1px 10px 0 rgba(0, 0, 0, 0.2); 
}

.Homepage-img {
    margin: 40px;
    float: right;
    border: 8px solid white;
    -webkit-box-shadow: 0 15px 20px -8px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 15px 20px -8px rgba(0, 0, 0, 0.2);
    box-shadow: 0 15px 20px -8px rgba(0, 0, 0, 0.2);
}
img {  
    width: 400px;
    height: 300px;
}
.Homepage-arrow {
    width: 50px;
    height: 50px;
    float: right; 
    margin-top: 150px;
    border-top: 20px solid rgb(62, 165, 84);
    border-right: 20px solid  rgb(62, 165, 84);
    transform: rotate(45deg);
    border-radius: 15%;
}

ol.Homepage-ticklist {
    list-style-position: inside;
    overflow: hidden;
    border: 8px solid white;
    background-color: rgb(245, 245, 245);
    -webkit-box-shadow: 0 15px 20px -8px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 15px 20px -8px rgba(0, 0, 0, 0.2);
    box-shadow: 0 15px 20px -8px rgba(0, 0, 0, 0.2);

}
ol.Homepage-ticklist li{
    float: left;
    width: 250px;
    margin: 20px;
    text-align: center;
}

/* ul.Homepage-ticklist  {
   
    overflow: hidden; 
    border: 8px solid white;
    background-color: rgb(245, 245, 245);
    -webkit-box-shadow: 0 15px 20px -8px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 15px 20px -8px rgba(0, 0, 0, 0.2);
    box-shadow: 0 15px 20px -8px rgba(0, 0, 0, 0.2);
 }
  
ul.Homepage-ticklist li {
    display: inline-block;
    margin: 30px;
    text-align: center;
    font-weight: bold; 
}  */
@media only screen and (max-width: 600px) {
    .Homepage{
        flex-direction: column;
    }
}





