
.NewEventForm {
    display: flex;
    flex-direction: column;
    align-content: center;

    
}

.headerNewEventForm {
    padding: 10px;
    margin: 20px auto 10px 15px;
}

.NewEventForm {
    margin: 20px;
}

.paraInputWrap {
    margin-right: 40px;
    margin-top: 10px;    
}

.NewEventForm > h3 {
    padding: 5px 10px 2px 2px;
    margin: 2px 20px 2px 2px;
}

.NewEventInput, .membersBox {
    padding: 12px;
    border: solid 2px grey;
    border-radius: 10px;
}

.NewEventMessage {
    
        padding: 5px 10px 2px 2px;
        margin: 2px 20px 2px 2px;
    
}

.NewEventButton {
    padding: 5px;
    margin: 20px auto 15px auto;
}

@media only screen and (min-width: 600px) {
    .NewEventBox {
        display: flex;
        flex-direction: row;  
        flex-wrap: wrap;     
    }
  }